<div id="<%= dom_id corral %>">
  <p>
    <strong>Name:</strong>
    <%= corral.name %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= corral.capacity %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= corral.tipo %>
  </p>

  <p>
    <strong>Ranch:</strong>
    <%= corral.ranch_id %>
  </p>

</div>
