<%= form_with(model: corral) do |form| %>
  <% if corral.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(corral.errors.count, "error") %> prohibited this corral from being saved:</h2>

      <ul>
        <% corral.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :capacity, style: "display: block" %>
    <%= form.number_field :capacity %>
  </div>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo %>
  </div>

  <div>
    <%= form.label :ranch_id, style: "display: block" %>
    <%= form.text_field :ranch_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
