<div id="<%= dom_id animal %>">
  <p>
    <strong>Species:</strong>
    <%= animal.species %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= animal.breed %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= animal.birthdate %>
  </p>

  <p>
    <strong>Initial weight:</strong>
    <%= animal.initial_weight %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= animal.gender %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= animal.status %>
  </p>

  <p>
    <strong>Acquisition date:</strong>
    <%= animal.acquisition_date %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= animal.supplier %>
  </p>

  <p>
    <strong>Health history:</strong>
    <%= animal.health_history %>
  </p>

  <p>
    <strong>Production:</strong>
    <%= animal.production %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= animal.comments %>
  </p>

  <p>
    <strong>Corral:</strong>
    <%= animal.corral_id %>
  </p>

  <p>
    <strong>Ranch:</strong>
    <%= animal.ranch_id %>
  </p>

</div>
