<p style="color: green"><%= notice %></p>


<div>
  <h1><%= @ranch.name %></h1>
  <p>Ubicacion: <%=@ranch.location %></p>
  <%= link_to "Edit this ranch", edit_ranch_path(@ranch) %> 
  <%= link_to "Back to ranches", ranches_path %>

  <%= button_to "Destroy this ranch", @ranch, method: :delete, class: "destroy-button" %> 
</div>
